:local .card {
  margin-bottom: 1em;
  position: relative;
}

:local .remove {
  position: absolute;
  top: -0.5em;
  left: -0.5em;

  background-color: #666;
  color: #fff;
  text-decoration: none;
  border-color: #fff;
  border-radius: 20px;
  padding: 0.2em 0.5em;
}
